<h1>All Articles</h1>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %> -
			<i><%= time_ago_in_words(article.updated_at) %> ago</i> <br>
			<%= article.body %>
		</li>
	<% end %>
</ul>

<%= link_to "Create a new article", new_article_path, class: "new_article" %>
