<h1>All Articles</h1>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= article.title %> -
			<small><%= time_ago_in_words(article.updated_at) %> ago</small> <br>
			<i><%= article.body %></i> 
		</li>
	<% end %>
</ul>